body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

.bg-green {
  background-color: #495E57;
}

.bg-white {
  background-color: white;
}

.bg-light_green {
  background-color: #EDEFEE;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text";
}

p {
  font-family: "Karla";
  font-size: 18;
}

ul {
  list-style-type: none;
}

nav {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

nav div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

nav a {
  font-family: "Karla";
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

main p {
  line-height: 1.5;
}

main a {
  text-decoration: none;
  color: #495E57;
}

main a:hover {
  text-decoration: underline;
}

main button {
  background-color: #F4CE14;
  color: black;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  max-height: 50px;
}

.wrap_justify {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#introduction {
  color: white;
}

#introduction h1 {
  color: #F4CE14;
}

#introduction h2 {
  margin-top: -50px;
}

#about {
  color: #495E57;
}

#about h1 {
  color: #495E57;
}

#about h2 {
  margin-top: -50px;
  color: #F4CE14;
}

.half_screen {
  @media (min-width: 900px) {
    width: 45%;
  }
  @media (max-width: 899px) {
    width: 45%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}

#chef_img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;

  @media (min-width: 900px) {
    min-width: 450px;
  }
}

footer .content {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 500px) {
    flex-direction: column;
  }
}

footer a, footer h5 {
  font-family: "Karla";
  color: #495E57;
  font-size: 18px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h5 {
  margin-top: 6px;
  margin-bottom: 12px;
}

footer ul {
  margin-left: -40px;
}

footer li {
  margin-top: 5px;
}

#specials_header {
  margin-top: 20px;
}

#specials_button {
  margin-top: 30px;
}

#dishes {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.order_online {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.dish_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: -10px;
  border-radius: 8px 8px 0px 0px;
}

.dish_text {
  width: 180px;
  height: 180px;
  background-color: #EDEFEE;
  color: #495E57;
  font-size: 10px;
  padding: 10px 10px 10px 10px;
}

.dish_text h5, .dish_text img {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.dish_text_wrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.price {
  color: #CD6200;
}

.split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}