body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

.margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bg-green {
  background-color: #495E57;
}

.bg-white {
  background-color: white;
}

.bg-light_green {
  background-color: #EDEFEE;
}

.bg-yellow {
  background-color: #F4CE14;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text";
}

p {
  font-family: "Karla";
  font-size: 18;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

#home_logo_link, #menu_icon {
  max-height: 40px;
}

#menu_icon {
  position: absolute;
  right: 20px;
  top: 25px;
  @media (max-width: 600px) {
    display: block;
  }
  display: block;
  @media (min-width: 601px) {
    display: none;
  }
}

nav div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

#navigation_checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

#navigation_checkbox:checked ~ #navigation {
  display: flex;
}

#navigation_label {
  position: absolute;
  top: 0;
  right: 0;
}

#navigation {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 12px;

  @media (min-width: 601px) {
    display: flex;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    display: none;
  }
}

.nav-item {
  font-family: "Karla";
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

main p {
  line-height: 1.5;
}

main a {
  text-decoration: none;
  color: #495E57;
}

main a:hover {
  text-decoration: underline;
}

main button {
  background-color: #F4CE14;
  color: black;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  max-height: 50px;
}

.wrap_justify {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#introduction {
  color: white;
}

#introduction h1 {
  color: #F4CE14;
}

#introduction h2 {
  margin-top: -50px;
}

#about {
  color: white;
}

#about h1 {
  color: #F4CE14;
}

#about h2 {
  margin-top: -50px;
  color: white;
}

.half_screen {
  @media (min-width: 900px) {
    width: 45%;
  }
  @media (max-width: 899px) {
    width: 45%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}

#chef_img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;

  @media (min-width: 900px) {
    min-width: 450px;
  }
}

footer .content {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 500px) {
    flex-direction: column;
  }
}

footer a, footer h5 {
  font-family: "Karla";
  color: #495E57;
  font-size: 18px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h5 {
  margin-top: 6px;
  margin-bottom: 12px;
}

footer ul {
  margin-left: -40px;
}

footer li {
  margin-top: 5px;
}

.footer_icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

#specials_header {
  margin-top: 20px;
}

#specials_button {
  margin-top: 30px;
}

.dishes {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.order_online {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.dish_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: -10px;
  border-radius: 8px 8px 0px 0px;
}

.dish_text {
  width: 180px;
  height: 180px;
  background-color: #EDEFEE;
  color: #495E57;
  font-size: 10px;
  padding: 10px 10px 10px 10px;
}

.dish_text h5, .dish_text img {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.dish_text_wrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.price {
  color: #CD6200;
}

.split {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial_frame {
  height: 320px;
  width: 160px;
  color: #495E57;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

.testimonial_portrait {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.testimonial_name {
  text-align: center;
  font-weight: bold;
}

.testimonial_rating {
  text-align: center;
  font-weight: bold;
  margin-top: -15px;
}

.registration_form {
  display: grid;
  max-width: 200px;
  gap: 20px
}

input:focus:invalid {
  border: 2px solid red;
  }

.required:after {
  content:"*";
  color: red;
}

.red {
  color: red;
}