body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* standard */
h1 {
  font-size: 64px;
  color: black;
}

h2 {
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text";
}

p {
  font-family: "Karla";
  font-size: 18;
}

ul {
  list-style-type: none;
}

.button {
  background-color: #F4CE14;
  color: black;
  padding: 12px;
  border-radius: 10px;
  border: none;
  max-height: 45px;
}

.button:hover {
  text-decoration: none;
}

.button_div {
  margin-top: 50px;
  @media (max-width: 700px) {
    margin-bottom: 50px;
  }
}

/* background-color styles */
.bg-green {
  background-color: #495E57;
  color: white;
}

.bg-green h1 {
  color: #F4CE14;
}

.bg-green h2 {
  color: white;
  margin-top: -50px;
}

.bg-light_green {
  background-color: #EDEFEE;
  color: #495E57;
}

/* navigation */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

nav div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.nav_item {
  font-family: "Karla";
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.nav_item:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#navigation {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 12px;
  @media (min-width: 601px) {
    display: flex;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    display: none;
  }
}

#nav_icon {
  max-height: 40px;
  position: absolute;
  right: 20px;
  top: 25px;
  @media (max-width: 600px) {
    display: block;
  }
  display: block;
  @media (min-width: 601px) {
    display: none;
  }
}

#nav_label {
  position: absolute;
  top: 0;
  right: 0;
}

#nav_checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

#navigation_checkbox:checked ~ #navigation {
  display: flex;
}

/* main */
main p {
  line-height: 1.5;
}

main a {
  text-decoration: none;
  color: #495E57;
}

main a:hover {
  text-decoration: underline;
}

/* footer */
footer .content {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 500px) {
    flex-direction: column;
  }
}

footer a, footer h5 {
  font-family: "Karla";
  color: #495E57;
  font-size: 18px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h5 {
  margin-top: 6px;
  margin-bottom: 12px;
}

footer ul {
  margin-left: -40px;
}

footer li {
  margin-top: 5px;
}

.footer_icon {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 3px;
  color: white;
}

#footer_logo {
  height: 200px;
  width: 113px;
}

#sm_background {
  background-color: #F4CE14;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
}

/* components */
.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

.comp_margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.center {
  margin-left: 30%;
  @media (max-width: 600px) {
    margin-left: 10%;
  }
}

.half_img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  @media (min-width: 900px) {
    min-width: 450px;
  }
}

.half_screen {
  @media (min-width: 701px) {
    width: 44%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}

.high {
  margin-top: 0px;
}

.wrap_center {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrap_justify {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* special components */
/*        about */
#about {
  color: white;
}

#about h1 {
  color: #F4CE14;
}

#about h2 {
  margin-top: -50px;
  color: white;
}

/*        construction */
#const_img {
  max-height: 300px;
}

#construction {
  font-size: 20px;
  margin-left: 30%;
  @media (max-width: 600px) {
    margin-left: 10%;
  }
}

/*        dish */
.dish_wrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#dish_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: -10px;
  border-radius: 8px 8px 0px 0px;
}

#dish_text {
  width: 180px;
  height: 180px;
  background-color: #EDEFEE;
  color: #495E57;
  font-size: 10px;
  padding: 10px 10px 10px 10px;
}

#dish_text h5, #dish_text img {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#order_online {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#price {
  color: #CD6200;
}

/*        form */
input:focus:invalid {
  border: 2px solid red;
}

.input {
  margin-bottom: 20px;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  @media (max-width: 600px) {
    width: 70%;
  }
}

.reg_block {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
}

.reg_form {
  background-color: #495E57;
  margin: auto;
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.required:after {
  content:"*";
  color: #F4CE14;;
}

.select {
  margin-bottom: 20px;
  width: 427px;
  padding: 10px;
  border-radius: 5px;
  @media (max-width: 600px) {
    width: 75%;
  }
}

#submit_form:hover {
  cursor: pointer;
}

/*        introduction */
.introduction {
  color: white;
}

.introduction h2 {
  margin-top: -50px;
}

/*        specials */
#specials_button {
  margin-top: 20px;
  @media (max-width: 632px) {
    margin: auto;
    margin-bottom: 70px;
  }
}

#specials_header {
  margin-top: -10px;
}

/*        testimonial */
#testi_frame {
  height: 320px;
  width: 160px;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

#testi_name {
  text-align: center;
  font-weight: bold;
}

#testi_portrait {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#testi_rating {
  text-align: center;
  font-weight: bold;
  margin-top: -15px;
}